# as root:
# sensor --systemd > /etc/systemd/system/okerr-sensor.service

[Unit]
Description=okerr network sensor
After=syslog.target
PartOf=okerr.service
After=okerr.service

[Service]
Type=simple
ExecStart=%PATH%
EnvironmentFile=/etc/okerr/env/sensor
StandardOutput=append:/var/log/okerr/sensor-out.log
StandardError=append:/var/log/okerr/sensor-err.log
Restart=on-failure
RestartSec=5s

[Install]
# WantedBy=okerr.service
WantedBy=multi-user.target