[Unit]
Description=okerr network sensor
After=syslog.target
PartOf=okerr.service
After=okerr.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/sensor.py
EnvironmentFile=/etc/okerr/env/sensor

[Install]
WantedBy=okerr.service
