adns===1.4-py1
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
cryptography==2.8
dnspython==1.16.0
idna==2.8
pika==1.1.0
pkg-resources==0.0.0
pycparser==2.19
pyOpenSSL==19.1.0
requests==2.22.0
setproctitle==1.1.10
urllib3==1.25.7
whois==0.9.4
