# adns===1.4-py1
# git+https://github.com/trolldbois/python3-adns.git

async-dnsbl-client>=0.0.4
python-dotenv
# ping3
icmplib
okerrupdate
certifi>=2024.7.4
cffi>=1.15.1
chardet>=3.0.4
cryptography>=43.0.1
dnspython>=2.6.1
idna>=3.7
pika>=1.1.0
pycparser>=2.19
pyOpenSSL>=19.1.0
python-whois>=0.7.2
requests>=2.32.3
setproctitle>=1.1.10
urllib3>=1.26.19
forcediphttpsadapter
